.res-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: .5rem;
}

.res-grid > * {
    grid-column: span 12;
}
.box {
    height: 30px;
    background-color: rgba(0,0,0,.32);
}
figure img {
    max-width: 100%;
    height: auto;
}

.res-grid > .col-1 { grid-column: span 1; }
.res-grid > .col-2 { grid-column: span 2; }
.res-grid > .col-3 { grid-column: span 3; }
.res-grid > .col-4 { grid-column: span 4; }
.res-grid > .col-5 { grid-column: span 5; }
.res-grid > .col-6 { grid-column: span 6; }
.res-grid > .col-7 { grid-column: span 7; }
.res-grid > .col-8 { grid-column: span 8; }
.res-grid > .col-9 { grid-column: span 9; }
.res-grid > .col-10 { grid-column: span 10; }
.res-grid > .col-11 { grid-column: span 11; }
.res-grid > .col-12 { grid-column: span 12; }

/* sm Pantallas ≦ 576px. */
@media (min-width: 576px) {
    .res-grid > .col-sm-1 { grid-column: span 1; }
    .res-grid > .col-sm-2 { grid-column: span 2; }
    .res-grid > .col-sm-3 { grid-column: span 3; }
    .res-grid > .col-sm-4 { grid-column: span 4; }
    .res-grid > .col-sm-5 { grid-column: span 5; }
    .res-grid > .col-sm-6 { grid-column: span 6; }
    .res-grid > .col-sm-7 { grid-column: span 7; }
    .res-grid > .col-sm-8 { grid-column: span 8; }
    .res-grid > .col-sm-9 { grid-column: span 9; }
    .res-grid > .col-sm-10 { grid-column: span 10; }
    .res-grid > .col-sm-11 { grid-column: span 11; }
    .res-grid > .col-sm-12 { grid-column: span 12; }

}

/* md Pantallas ≧ 768px. */
@media (min-width: 768px) {
    .res-grid > .col-md-1 { grid-column: span 1; }
    .res-grid > .col-md-2 { grid-column: span 2; }
    .res-grid > .col-md-3 { grid-column: span 3; }
    .res-grid > .col-md-4 { grid-column: span 4; }
    .res-grid > .col-md-5 { grid-column: span 5; }
    .res-grid > .col-md-6 { grid-column: span 6; }
    .res-grid > .col-md-7 { grid-column: span 7; }
    .res-grid > .col-md-8 { grid-column: span 8; }
    .res-grid > .col-md-9 { grid-column: span 9; }
    .res-grid > .col-md-10 { grid-column: span 10; }
    .res-grid > .col-md-11 { grid-column: span 11; }
    .res-grid > .col-md-12 { grid-column: span 12; }
}

/* lg Pantallas ≧ 992px. */
@media (min-width: 992px) {
    .res-grid > .col-lg-1 { grid-column: span 1; }
    .res-grid > .col-lg-2 { grid-column: span 2; }
    .res-grid > .col-lg-3 { grid-column: span 3; }
    .res-grid > .col-lg-4 { grid-column: span 4; }
    .res-grid > .col-lg-5 { grid-column: span 5; }
    .res-grid > .col-lg-6 { grid-column: span 6; }
    .res-grid > .col-lg-7 { grid-column: span 7; }
    .res-grid > .col-lg-8 { grid-column: span 8; }
    .res-grid > .col-lg-9 { grid-column: span 9; }
    .res-grid > .col-lg-10 { grid-column: span 10; }
    .res-grid > .col-lg-11 { grid-column: span 11; }
    .res-grid > .col-lg-12 { grid-column: span 12; }
}

/* xl Pantallas ≧ 1200px. */
@media (min-width: 1200px) {
    .res-grid > .col-xl-1 { grid-column: span 1; }
    .res-grid > .col-xl-2 { grid-column: span 2; }
    .res-grid > .col-xl-3 { grid-column: span 3; }
    .res-grid > .col-xl-4 { grid-column: span 4; }
    .res-grid > .col-xl-5 { grid-column: span 5; }
    .res-grid > .col-xl-6 { grid-column: span 6; }
    .res-grid > .col-xl-7 { grid-column: span 7; }
    .res-grid > .col-xl-8 { grid-column: span 8; }
    .res-grid > .col-xl-9 { grid-column: span 9; }
    .res-grid > .col-xl-10 { grid-column: span 10; }
    .res-grid > .col-xl-11 { grid-column: span 11; }
    .res-grid > .col-xl-12 { grid-column: span 12; }
}


/* xxl Pantallas ≧ 1400px. */
@media (min-width: 1400px) {
    .res-grid > .col-xxl-1 { grid-column: span 1; }
    .res-grid > .col-xxl-2 { grid-column: span 2; }
    .res-grid > .col-xxl-3 { grid-column: span 3; }
    .res-grid > .col-xxl-4 { grid-column: span 4; }
    .res-grid > .col-xxl-5 { grid-column: span 5; }
    .res-grid > .col-xxl-6 { grid-column: span 6; }
    .res-grid > .col-xxl-7 { grid-column: span 7; }
    .res-grid > .col-xxl-8 { grid-column: span 8; }
    .res-grid > .col-xxl-9 { grid-column: span 9; }
    .res-grid > .col-xxl-10 { grid-column: span 10; }
    .res-grid > .col-xxl-11 { grid-column: span 11; }
    .res-grid > .col-xxl-12 { grid-column: span 12; }
}
