body {
    font-family: monospace;
    background-color: #282a36;
    color: #44475a;
    line-height: 1.3;
}

h1 {
    color: #bd93f9;
    font-size: 36px;
    font-size: bold;
}

h2 {
    font-family: "Roboto";
}

p {
    color: #f8f8f2;
}

section a {
    color: #50fa7b;
}

p abbr {
    color: #ff79c6;
}

h2, h3 {
    color: #f1fa8c;
}

aside ul a,
aside nav a {
    color: #ffb86c;
}

.sidebar,
.intro {
    background-color: #44475a;
    padding: 1rem;
}

.superindex {
    color: #8be9fd;
    text-decoration: none;
}